<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contatore Cianna</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- fullcalendar -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/locale/it.js'></script>

    <!-- bootstrap-select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <!-- font-awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

    <script>
      var allEvents = [
      {%for wp in work_periods%}
      {
        title : '{{wp.workplace}}',
        start : '{{wp.start}}',
        end : '{{wp.end}}',
        allDay: false,
        id: {{wp.id}},
        backgroundColor: '{{workplaces[wp.workplace]}}'
      },
      {%endfor%}
      ];
    </script>
    <script src="{{url_for('static', filename='calendar.js')}}"></script>
  </head>
  <body>
    <div class="container">
      <div id="calendar"></div>

      <div id="controls">
        <div class="btn-group" role="group" aria-label="Clipboard">
          <button type="button" class="btn btn-default" id="btnCopyWeek"><i class="fas fa-copy"></i> Copia Settimana</button>
          <button type="button" class="btn btn-default" disabled id="btnPasteWeek"><i class="fas fa-paste"></i> Incolla Settimana</button>
        </div>
        <div class="btn-group pull-right" role="group" aria-label="Controls">
          <button type="button" class="btn btn-default" id="btnOptions"><i class="fas fa-cogs"></i> Opzioni</button>
          <button type="button" class="btn btn-default" id="btnPdfReport"><i class="fas fa-download"></i> Scarica Foglio Ore</button>
        </div>
      </div>

      <hr>

      <footer>
        Copyright &copy; {{copyright_date}} Andrea Micheli
      </footer>
    </div><!-- /.container -->
    <!-- Modal -->
    <div class="modal fade" id="eventDialog" tabindex="-1" role="dialog" aria-labelledby="eventDialogTitle">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="eventDialogTitle">Nuova Attivit&agrave;</h4>
          </div>
          <div class="modal-body">
            <select id="modalActivity" class="selectpicker">
              {% for wp in workplaces.items() %}
              <option value="{{wp[0]}}|{{wp[1]}}">{{wp[0]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="modalDelete"><i class="fas fa-trash"></i> Elimina</button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-undo"></i> Annulla</button>
            <button type="button" class="btn btn-primary" id="modalConfirm"><i class="fas fa-save"></i> Salva</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="optionsDialog" tabindex="-1" role="dialog" aria-labelledby="optionsDialogTitle">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="optionsDialogTitle">Opzioni</h4>
          </div>

          <div class="modal-body">
            Cantieri:
            <ul class="list-group" id="lstWorkPlaces">
              {% for wp in workplaces.items() %}
              <li class="list-group-item"><span style="color:{{wp[1]}};font-weight:bold">{{wp[0]}}<span></li>
              {% endfor %}
            </ul>
            Nuovo Cantiere:
            <form class="form-inline">
              <div class="form-group mb-2">
                <label for="wpName" class="sr-only">Nome</label>
                <input type="text" class="form-control" id="wpName" placeholder="Nome Cantiere">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="wpColor" class="sr-only">Colore</label>
                <input type="text" class="form-control" id="wpColor" placeholder="Colore">
              </div>
              <button type="button" class="btn btn-default" id="btnAddWorkPlace"><i class="fas fa-plus"></i> Aggiungi</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i> Esci</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
