<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contatore Cianna</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- fullcalendar -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/locale/it.js'></script>

    <!-- bootstrap-select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <!-- bootstrap-timepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>

    <script>
      var allEvents = [
      {%for wp in work_periods%}
      {
        title : '{{wp.workplace}}',
        start : '{{wp.start}}',
        end : '{{wp.end}}',
        allDay: false,
        id: {{wp.id}},
        backgroundColor: '{{workplaces[wp.workplace]}}'
      },
      {%endfor%}
      ];
    </script>
    <script src="{{url_for('static', filename='calendar.js')}}"></script>
  </head>
  <body>

    <div id='calendar'></div>

    <div align="center" class="footer">
      <br/>
      Copyright &copy; {{copyright_date}} Andrea Micheli
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Nuova Attivit&agrave;</h4>
          </div>
          <div class="modal-body">
            <select id="modalActivity" class="selectpicker">
              {% for wp in workplaces.items() %}
              <option value="{{wp[0]}}|{{wp[1]}}">{{wp[0]}}</option>
              {% endfor %}
            </select>

            <div class="input-group bootstrap-timepicker timepicker">
	      <input id="tp_start" type="text" value="00:00" class="form-control input-small">
	      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
	    </div>

            <div class="input-group bootstrap-timepicker timepicker">
	      <input id="tp_end" type="text" value="00:00" class="form-control input-small">
	      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
	    </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
            <button type="button" class="btn btn-primary" id="modalConfirm">Salva</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
